*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-image: url("sonij.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
  
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #fbe9e7;*/
    
    }
    .card{
        position: relative;
        width: 18.75rem;
        height: 25rem;
        background: #fff;
       /* transform-style:preserve-3d ;*/
        transform: perspective(100px);
        box-shadow: 0.625rem 1.25rem 2.5rem rgba(0,0,0,0.25);
        transition: 1s;
         left: 5rem;
    }
    .card:hover{
        transform: rotateX(50deg);
        transform: rotateY(10deg);
    }
     .card .imgbox{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform-origin: left;
        /*transform-style:preserve-3d ;*/
        background: #000;
        transition: 1s;
        background-image: url();
    }
    
    
    .card:hover .imgbox{
        transform: rotateY(-180deg);
    }
    .card .imgbox img{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 19rem;
        height: 25rem;
        object-fit: cover;
        /*transform-style:preserve-3d ;*/
        backface-visibility: hidden;
    }

    .card .form{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 1.25rem;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 0.5rem;
    
    }
    .card .login{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card .login input{
        margin: 10px;
        height: 1.9rem;
        width: auto;
        border-radius: 0.9rem;
        box-shadow: 2px 2px 2px aqua;
        outline: none;
        transition: all 1s ease-in-out;
    }
    .card .login input:hover{
        transform: rotate(6deg);
    }
    .login .imf {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .login .imf img{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
    }
    .btn{
        position: relative;
        width: 6rem;
        height: 2rem;
        outline: none;
        border: none;
        border-radius: 48px;
        background-color: #20dbc2;
        color:#fff ;
        text-transform: uppercase;
        font-weight: 600;
        left: 3rem;
        transition: all 0.5s;
        
    
        
    }
    .btn:hover{
        background-color:#00bfa6 ;
    }
   
    
    h1{
       
        text-align: center;
        top: 40px;
        position: relative;
        font-size: 40px;
        text-shadow: 3px 3px 3px;
       
        
    }
    span{
        color: #20dbc2;
        box-shadow: 10px 10px 10px  rgb(112, 193, 207);
        
    }
    .so{
        box-shadow: 10px 10px 10px  rgb(207, 112, 160);
        color:  rgb(207, 112, 160);
    }